.client
  = "#{@person.name} #{@person.phones}"
.header.header
  .subject.cell
    Повод
  .action.cell
    Событие
  .action_date.cell
    Дата
  .action_time.cell
    Время
  .description.cell
    Комментарий
  .manager.cell
    Менеджер


- for communication in @communications
  = render :partial => 'short', :locals  => {:communication => communication}