/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
/*.container {
  background: #CCC;
  min-height: 100%;
  _height:    100%;
}

.main {
  padding-top: 50px;
}

.header {
  background:    #36F;
  height:        50px;
  margin-bottom: -50px;
  position:      relative;
}
*/