// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event_calendar {
  .day.cell {
      display: table-cell;
      &:hover { background: lightgray;}
    }
  .days.row {
    display: table-row;
    &:hover {background: none;}
  }
}