.top-menu {
  top:      0px;
  position: fixed;
  height:   4%;
}

.top-box {
  height:     41%;
  background: rgb(238, 238, 238);
  position:   fixed;
  top:        4%;
  overflow:   auto;
  z-index:    1;
  width:      100%;
  .top-left {
    float: left;
    width: 49%;

  }
  .top-right {
    float: right;
    width: 49%;

  }

}

.bottom-box {
  height:   4%;
  top:      45%;
  width:    100%;
  position: fixed;
/*background-color: green;*/
}

.mid-box {
  position: fixed;
  height:   50%;
  width:    100%;
  top:      49%;
  overflow: scroll;

}

.buttons, .controls {
  width: auto;
  float: left;
  a {
    -moz-box-shadow:       inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:    inset 0px 1px 0px 0px #ffffff;
    box-shadow:            inset 0px 1px 0px 0px #ffffff;
    background:            -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2478de), color-stop(1, #84b4d8));
    background:            -moz-linear-gradient(center top, #2478de 5%, #4297D7 100%);
    filter:                progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2478de', endColorstr = '#84b4d8');
    background-color:      #84b4d8;
    -moz-border-radius:    6px;
    -webkit-border-radius: 6px;
    border-radius:         6px;
    border:                1px solid #4297D7;
    display:               inline-block;
    color:                 #ffffff;
    font-family:           arial;
    font-size:             15px;
    font-weight:           bold;
    padding:               5px 24px;
    text-decoration:       none;
    &:hover {
      background:       -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #84b4d8), color-stop(1, #2478de));
      background:       -moz-linear-gradient(center top, #84b4d8 5%, #2478de 100%);
      filter:           progid:DXImageTransform.Microsoft.gradient(startColorstr = '#84b4d8', endColorstr = '#2478de');
      background-color: #73beff;
    }
    &:active {
      position: relative;
      top:      1px;
    }

  }
}

.controls {
  float: left;
}

