.bottom-box
  .buttons
    = link_to 'Наличие', cars_path
    = link_to 'Клиенты', people_path
    = link_to 'Календарь', '#', :id => 'calendar'
    = link_to 'Загрузить', '#', :id => 'download_state'


  .controls
