= link_to 'Наличие', cars_path, :class => 'btn btn-primary btn-small'
= link_to 'Клиенты', people_path, :class => 'btn btn-primary btn-small'
= link_to 'Календарь', '#', :id => 'calendar', :class => 'btn btn-primary btn-small'
= link_to 'Трейдин', '#', :id => 'tradein', :class => 'btn btn-primary btn-small'



